<section id="projects" class="projects py-5 section-bg">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h2 class="section-title" data-aos="fade-up">Featured Projects</h2>
        <div class="section-divider"></div>
      </div>
    </div>

    <div class="row project-item" *ngFor="let project of projects; let i = index"
      [ngClass]="{ 'flex-row-reverse': i % 2 !== 0 }" #projectItem data-aos="fade-up">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="project-image-container">
          <div class="image-slider">
            <img [src]="getImagePath(project.folderName, currentImageIndex[project.id])" [alt]="project.name"
              class="img-fluid project-image" />

            <div class="slider-indicators" *ngIf="project.imageCount > 1">
              <span *ngFor="let dot of [].constructor(project.imageCount); let j = index"
                [ngClass]="{ active: currentImageIndex[project.id] === j }" class="indicator-dot">
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="project-content" [ngClass]="{'text-end': i % 2 !== 0, 'text-start': i % 2 === 0}">
          <h3 class="project-title">{{ project.name }}</h3>
          <p class="project-description">{{ project.description }}</p>
          <div class="project-links">
            <a [href]="project.websiteLink" target="_blank" class="btn btn-super">
              <i class="bi bi-globe me-2"></i>Visit Website
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>